The Fibonacci sequence is a sequence of numbers where the number is the sum of two
previous numbers. Write the Fibonacci sequence through recursion of 10.

In [2]:
def Fibonacci(n1):

    if n1 < 0 :
        print ("Invalid value")

    elif n1 == 0:
        return 0;

    elif n1 == 1 or n1 == 2:
        return 1

    else:
        return Fibonacci(n1 - 1) + Fibonacci(n1 - 2)


for n in range (1,11):
    print(Fibonacci(n))

1
1
2
3
5
8
13
21
34
55

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]. Given the nested list, extract the word
“hello”

In [4]:
list1 = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

print(list1[3][1][2][0])

hello

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}. Given the nested dictionary, extract the word hello

In [5]:
dict1 = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

print(dict1['k1'][3]['tricky'][3]['target'][3])

hello

You are in a hurry and the traffic officer stops you. Write a function to return one of 3 possible results: "No fine", "Less Fine", or "Car seize". If your speed is 70 or less, the result is "No fine". If speed is between 71 and 80 inclusive, the result is "Less Fine". If speed is 81 or more, the result is "Car seize". Unless it is your anniversary (encoded as a Boolean value in the parameters of the function) -- on your anniversary, your speed can be 10 higher in all cases

In [9]:
def fineFunc(speed, isAnniversary):
  if isAnniversary:
    if speed <= 80:
      print("No fine")
    elif speed >= 81 and speed <= 90:
      print("Less fine")
    else:
      print("Car Seize")
  else:
    if speed <= 70:
      print("No fine")
    elif speed >=71 and speed <= 80:
      print("Less fine")
    else:
      print("Car seize")

speed = int(input("Please tell me your speed? "))
isAnniv = input("Is it driver's anniversary today? (True/False): ")
flag = isAnniv.lower() == "true"
if flag:
  fineFunc(speed,flag)
else:
  fineFunc(speed,flag)

Please tell me your speed? 85
Is it driver's anniversary today? (True/False): false
Car seize

Determine whether your data contains any duplicate element in a given array of integers.
Return true if any value appears twice in the array and return false if every element is
distinct. Also, remove the duplicates.

In [12]:
def duplicate_present(arr):
    element_count = {}
    contain_duplicates = False
    distinct_elements = []

    for num in arr:
        if num in element_count:
            element_count[num] += 1
            contain_duplicates = True
        else:
            element_count[num] = 1
            distinct_elements.append(num)

    return contain_duplicates, distinct_elements

arr = [1, 2, 3, 4, 5, 6, 7, 7]
contain_duplicates, distinct_elements = duplicate_present(arr)

print(f"Duplicates Present? {contain_duplicates}")
print(f"Data with distinct elements: {distinct_elements}")

Duplicates Present? True
Data with distinct elements: [1, 2, 3, 4, 5, 6, 7]

Write a Python program to read a given CSV file as a list.

In [14]:
import pandas as pd

data = pd.read_csv('customers-100.csv')
print(data)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]

 A user enters any string containing letters and digits both. Calculate the number of letters and digits entered by a user.

In [15]:
userInp = input("Enter mix of letters and words: ")

digits = sum(i.isdigit() for i in userInp)
letters = sum(i.isalpha() for i in userInp)

print(f"Number of digits is {digits}")
print(f"Number of letters is {letters}")

Enter mix of letters and words: kjasd73
Number of digits is 2
Number of letters is 5