Q1) Muneeb has got 40 Marks in Physics, 78 in Chemistry and 82 in Maths. Take these marks as input from user and store them in dictionary with "key as subject name" and "value as marks". By accessing data stored in dictionary, print average of his marks and also print the name of subject in which he got highest marks

In [13]:
#Q1 22k-4080

marksA = float(input("Enter marks for physics: "))
marksB = float(input("Enter marks for chemistry: "))
marksC = float(input("Enter marks for Maths: "))

subjMarks = {
    'Physics' : marksA,
    'Chemistry' : marksB,
    'Maths' : marksC
}

highest = 0
highestsubj = ''
sum = 0
count = 0
for key, value in subjMarks.items():
  sum=sum + value
  count += 1
  if value > highest:
    highest = value
    highestsubj = key

average = sum/count
print(f'\nAverage Marks of Muneeb: {round(average,2)}')


print(f'Highest marks are in {highestsubj}: {highest}')

Enter marks for physics: 96
Enter marks for chemistry: 45
Enter marks for Maths: 78

Average Marks of Muneeb: 73.0
Highest marks are in Physics: 96.0

Q2) Generate dictionary containing 10 pairs in such a way that value of each pair is square of its key. Dictionary generated should be like this :

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#Q2 22k-4080

dicts = {}

for x in range(1, 11):
        dicts[x] = x*x


print(dicts)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Q3) Write a program to make function employee() meeting following requirements:

Employee name and monthly salary will be passed to this function. This function will cut 2 percent tax from salary and display salary after tax with name of employee. If the salary is missing in the function call then assign default value 10,000 to salary.

In [ ]:
#Q3 22k-4080



def employee(Name, Salary):
  if(Salary is None):
    employee(Name,10000)

  tax = float(Salary*0.02)

  Salary -= tax

  print(f'Salary after Tax: {Salary}')


def main():
  empName = input('Enter Employee Name: ')
  empSalary = int(input('Enter Employee Salary: '))
  employee(empName, empSalary)

if __name__ == '__main__':
  main()

Enter Employee Name: Arham
Enter Employee Salary: 8512
Salary after Tax: 8341.76

Q4) Write a function that will take a number 'n' input by user and will return its factorial.

In [3]:
#Q4 22k-4080

def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result



n = int(input("Enter a non-negative integer: "))
if n < 0:
    print("Factorial is not defined for negative numbers.")
else:
    result = factorial(n)
    print(f"The factorial of {n} is {result}")

Enter a non-negative integer: -5
Factorial is not defined for negative numbers.

Q5) Take Name and age as input from user for three persons. Write a function that will take these two arguments i-e Name and age of person. Function will create a dictionary with name as key and age as value.

In [23]:
#Q5 22k-4080

name = []
age = []
for i in range(3):
  print(f"Person {i+1}: \n")
  names = input("Enter Name: ")
  age1 = int(input("Enter Age: "))
  name.append(names)
  age.append(age1)

def createDict(name, age):
  myDict = {}

  for i in range(len(name)):
      myDict[name[i]] = age[i]

  print(myDict)

createDict(name, age)

Person 1:

Enter Name: asdasfd
Enter Age: 4
Person 2:

Enter Name: asasd
Enter Age: 5
Person 3:

Enter Name: dsfsd
Enter Age: 7
{'asdasfd': 4, 'asasd': 5, 'dsfsd': 7}

Q6

In [24]:

#Q6) Consider the following travel log. It mentions the country visited, frequency and the cities visited

travel_log = [
{
  "country": "France",
  "visits": 12,
  "cities": ["Paris", "Lille", "Dijon"]
},
{
  "country": "Germany",
  "visits": 5,
  "cities": ["Berlin", "Hamburg", "Stuttgart"]
},
]

def add_new_country(country, visits, cities):
    new_country = {
        "country": country,
        "visits": visits,
        "cities": cities
    }
    travel_log.append(new_country)

#You are required to add the following in travel log

add_new_country("Russia", 2, ["Moscow", "Saint Petersburg"])
print(travel_log)

#You should not change any of the code in travel log

[{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lille', 'Dijon']}, {'country': 'Germany', 'visits': 5, 'cities': ['Berlin', 'Hamburg', 'Stuttgart']}, {'country': 'Russia', 'visits': 2, 'cities': ['Moscow', 'Saint Petersburg']}]

In [28]:
#Q7) You are required to refer to the grading scheme of fast university. You are given the following dictionary with values

student_marks = {
    'Javed':44,
    'Asma':66,
    'Faisal':92,
    'Yasmeen':78,
    'Ajmal':85,
    'Farhan': 50,
    'Junaid':71
}

for student, marks in student_marks.items():
  if marks >= 86:
        grade = 'A+'
        student_marks[student] = grade
  elif marks >= 80:
        grade = 'A-'
        student_marks[student] = grade
  elif marks >= 72:
        grade = 'B'
        student_marks[student] = grade
  elif marks >= 65:
        grade = 'B-'
        student_marks[student] = grade
  elif marks >= 60:
        grade = 'C'
        student_marks[student] = grade
  elif marks >= 55:
        grade = 'C-'
        student_marks[student] = grade
  elif marks >= 50:
        grade = 'D'
        student_marks[student] = grade
  else:
        grade = 'F'
        student_marks[student] = grade



#You are required to change the above marks to grades as per the Fast grading scheme

print(student_marks)

{'Javed': 'F', 'Asma': 'B-', 'Faisal': 'A+', 'Yasmeen': 'B', 'Ajmal': 'A-', 'Farhan': 'D', 'Junaid': 'B-'}